<%= simple_form_for(@communication) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type %>
    <%= f.input :value %>
    <%= f.input :default %>
    <%= f.association :contact %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
