<%= form_for @communication, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :value, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :default, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :default, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  communications_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
